
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />

	<div class="container">
		<div class="row" style="margin-bottom: -100px;">
			<div class="col-xs-8">
				<h2 class="section-headline">
					<span>Checkout</span>
				</h2>
			</div>
		</div>

		<div class="row" style="margin-top: 10px;" th:classappend="${classActiveNewCheckout}? 'in active' ">
			<form th:action="@{/checkout?id=}+${book.id}" method="post">
				<input hidden="hidden" th:field="*{book.id}"/>
				<!-- Left Panel -->
				<div class="col-xs-4">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3>Order Summary</h3>
							<div class="row">
								<div class="col-xs-7 text-left">Total</div>
								<div class="col-xs-5 text-right">
									$<span th:text="${book.ourPrice}"></span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Checkout Info -->
				<div class="col-xs-8">
					<div th:if="${missingRequiredField}">
						<h5 class="alert alert-warning">There are some fields
							missing. Field with * is required.</h5>
					</div>

					<div th:if="${insufficientUserBalance}" style="color: red">
						<h5 class="alert alert-warning">You dont have enough money in your balance you complete checkout.</h5>
					</div>

					<div class="panel-group" id="accordion">

						<!-- 1. Shipping Address -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#shippingInfo"> 1. Shipping Address </a>
								</h4>
							</div>
							<div id="shippingInfo" class="panel-collapse collapse">
								<div class="panel-body">
									<div class="form-group">
										<label for="shippingName">* Name</label> <input type="text"
											class="form-control" id="shippingName" required="required"
											placeholder="Receiver Name" name="shippingAddressName"/>
									</div>

									<div class="form-group">
										<label for="shippingStreet">* Street Address</label> <input
											type="text" class="form-control" id="shippingStreet" required="required"
											placeholder="Street Address 1" name="shippingAddressStreet1"/>
									</div>
									<div class="form-group">
										<input type="text" class="form-control"
											placeholder="Street Address 2" name="shippingAddressStreet2"/>
									</div>

									<div class="row">
										<div class="col-xs-4">
											<div class="form-group">
												<label for="shippingCity">* City</label> <input type="text"
													class="form-control" id="shippingCity"
													placeholder="Shipping City" th:name="shippingAddressCity"
													required="required"/>
											</div>
										</div>
										<div class="col-xs-4">
											<div class="form-group">
												<label for="shippingZipcode">* Zipcode</label> <input
													type="text" class="form-control" id="shippingZipcode"
													placeholder="Shipping Zipcode"
													th:name="shippingAddressZipcode" required="required"/>
											</div>
										</div>
									</div>
									<a data-toggle="collapse" data-parent="#accordion"
										class="btn btn-warning pull-right" href="#paymentInfo">Next</a>
								</div>
							</div>
						</div>

						<!-- Payment Information -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#paymentInfo"> 2. Payment Information </a>
								</h4>
							</div>

							<div id="paymentInfo" class="panel-collapse collapse"
								th:classappend="${classActivePayment}? 'in'">
								<div class="panel-body">
									<!-- Billing Address -->
									<div class="checkbox">
										<label> <input id="theSameAsShippingAddress"
											type="checkbox" name="billingSameAsShipping" value="true" />
											The same as shipping address
										</label>
									</div>

									<div class="form-group">
										<label for="billingName">* Name</label> <input type="text"
											class="form-control billingAddress" id="billingName"
											placeholder="Receiver Name" th:name="billingAddressName"
											required="required"/>
									</div>
									<div class="form-group">
										<label for="billingAddress">* Street Address</label> <input
											type="text" class="form-control billingAddress" id="billingAddress"
											placeholder="Street Address 1"
											th:name="billingAddressStreet1" required="required"/> <input
											type="text" class="form-control billingAddress" id="billingAddress"
											placeholder="Street Address 2"
											th:name="billingAddressStreet2"/>
									</div>

									<div class="row">
										<div class="col-xs-4">
											<div class="form-group">
												<label for="billingCity">* City</label> <input type="text"
													class="form-control billingAddress" id="billingCity"
													placeholder="Billing city" th:name="billingAddressCity"
													required="required"/>
											</div>
										</div>
										<div class="col-xs-4">
											<div class="form-group">
												<label for="billingZipcode">* Zipcode</label> <input
													type="text" class="form-control billingAddress" id="billingZipcode"
													placeholder="Billing Zipcode"
													th:name="billingAddressZipcode" required="required"/>
											</div>
										</div>
									</div>

									<a data-toggle="collapse" data-parent="#accordion"
										class="btn btn-warning pull-right" href="#reviewItems">Next</a>
								</div>
							</div>
						</div>

						<!-- 3. Review Items and Shipping -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#reviewItems"> 3. Review Items and Shipping </a>
								</h4>
							</div>
							<div id="reviewItems" class="panel-collapse collapse">
								<div class="panel-body">
									<h4>Choose your shipping method:</h4>
									<div class="radio">
										<label> <input type="radio" name="shippingMethod"
											value="groundShipping" checked="checked" /> Ground Shipping
										</label>
									</div>
									<div class="radio">
										<label> <input type="radio" name="shippingMethod"
											value="premiumShipping" /> Premium Shipping
										</label>
									</div>

									<div class="row">
										<div class="col-xs-8">
											<h4>Products</h4>
										</div>
										<div class="col-xs-2">
											<h4>Price</h4>
										</div>
										<div class="col-xs-2">
											<h4>Qty</h4>
										</div>
									</div>

									<!-- display products in cart -->
									<div class="row" >
											<hr />
											<div class="col-xs-2">
												<a th:href="@{/bookDetail(id=${book.id})}"> <img
													class="img-responsive shelf-book"
													th:src="#{adminPath}+@{/image/book/}+${book.id}+'.png'"
													style="width: 70px;" />
												</a>
											</div>
											<div class="col-xs-6">
												<div style="margin-left: 50px;">
													<a th:href="@{/bookDetail?id=}+${book.id}"><h4
															th:text="${book.title}"></h4></a>
													<p th:if="${book.inStockNumber&gt;10}"
														style="color: green;">In Stock</p>
													<p
														th:if="${book.inStockNumber&lt;10 and book.inStockNumber&gt;0}"
														style="color: green;">
														Only <span th:text="${book.inStockNumber}"></span>
														In Stock
													</p>
													<p th:if="${book.inStockNumber==0}"
														style="color: darkred;">Product Unavailable</p>
													<!--<a th:href="@{/shoppingCart/removeItem?id=}+${cartItem.id}">delete</a>-->
												</div>
											</div>

											<div class="col-xs-2">
												<h5 style="color: #db3208; font-size: large;">
													$<span th:text="${book.ourPrice}"
														th:style="${book.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
												</h5>
											</div>

											<div class="col-xs-2">
												<h5 style="font-size: large;" th:text="1"></h5>
											</div>

									</div>

									<hr />
									<br />
									<br />
									<div th:switch="${insufficientUserBalance}">
										<button type="submit" class="btn btn-warning btn-block"  th:case="true" disabled="disabled">Place
											your order</button>

										<button type="submit" class="btn btn-warning btn-block" th:case="false">Place
											your order</button>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- end of container -->

	<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>
