
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
    <div th:replace="common/header :: navbar" />

    <main role="main" class="container">
        <div class="row">
            <div class="col-xs-8">
                <h2 class="section-headline">
                    <h2 class="section-headline"><span th:text="${user}? ${user.username} : 'All available drops'"></span></h2>
                </h2>
            </div>
        </div>
        <div class="row" style="margin-top:60px;">
            <div class="col-xs-9 col-xs-offset-3">
                <div th:if="${emptyList}">
                    <h5 style="font-style: italic"> No result found</h5>
                </div>

                <table border="0" id="itemToDropList">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="drop-item" data-th-each="dropItem: ${itemToDropList}">
                        <td>
                            <div th:if="${dropItem != null and dropItem.book != null}">
                                <div class="row" style="margin-bottom: 50px;">
                                    <div class="col-xs-3">
                                        <a> <img class="img-responsive shelf-book" th:src="#{adminPath}+@{/image/book/}+${dropItem.book.id}+'.png'"/> </a>
                                    </div>
                                    <div class="col-xs-9">
                                        <a th:href="@{/dropDetail?id=} + ${dropItem.id}"> <h4 th:text="${dropItem.dropTitle}"></h4> </a>
                                        <p th:text="${dropItem.book.title}"></p>
                                        <p th:text="${dropItem.book.author}"></p>
                                        <span style="font-size: x-large; color:#db3208;"> $<span
                                                th:text="${#numbers.formatDecimal(dropItem.book.ourPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>
                                        <span style="text-decoration: line-through"> $<span
                                                th:text="${#numbers.formatDecimal(dropItem.book.listPrice, 0, 'COMMA', 2, 'POINT')}"></span></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </br>
                    </tbody>
                </table>

            </div>
        </div>

    </main>


    <div th:replace="common/header :: body-bottom-scripts"/>
    <div th:replace="common/header :: footer"/>
</body>
</html>