<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>

<body>
<!-- Static navbar -->
<div th:replace="common/header :: navbar"/>

<main role="main" class="container">
    <div class="row">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <h2 class="section-headline"><span th:text="${user.username}"></span></h2>
            </h2>
        </div>
    </div>
    <div class="row" style="margin-top:60px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!--            Navigation tabs-->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveEdit}? 'active'"><a href="#tab1"
                                                                     data-toggle="tab"><span>Edit</span></a></li>
                <li th:classappend="${classActiveOrder}? 'active'"><a href="#tab2" data-toggle="tab"><span>Orders</span></a>
                </li>
                <li th:classappend="${classActiveBilling}? 'active'"><a href="#tab3"
                                                                        data-toggle="tab"><span>Billing</span></a></li>
                <li th:classappend="${classActiveShipping}? 'active'"><a href="#tab4"
                                                                         data-toggle="tab"><span>Shipping</span></a>
                </li>

            </ul>
            <!--            Tab panels-->
            <div class="tab-content">
                <!--                Edit user information-->
                <div class="tab-pane fade" id="tab1" th:classappend="${classActiveEdit}? 'in active' ">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top:20px;">

                                <div class="alert alert-danger" th:if="${incorrectPassword}">
                                    <strong>Incorrect Password!</strong> Pleae enter the correct
                                    password for the current user.
                                </div>

                                <div class="alert alert-succss" th:if="${updateSuccess}">
                                    <strong>Update Success!</strong>
                                </div>

                                <form th:action="@{/updateUserInfo}" method="post">
                                    <input type="hidden" name="id" th:value="${user.id}"/>
                                    <div class="bg-info" th:if="${updateUserInfo}">User info updated</div>

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label for="firstName"> First Name</label> <input
                                                    type="text" class="form-control" id="firstName" name="firstName"
                                                    th:value="${user.firstName}"/>
                                            </div>
                                            <div class="col-xs-6">
                                                <label for="lastName"> Last Name</label> <input
                                                    type="text" class="form-control" id="lastName" name="lastName"
                                                    th:value="${user.lastName}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userName"> User Name</label> <input
                                            type="text" class="form-control" id="userName" name="username"
                                            th:value="${user.username}"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="currentPassword">Current Password</label> <input
                                            type="text" class="form-control" id="currentPassword" name="password"
                                            th:value="${currentPassword}"/>
                                    </div>
                                    <!-- <p style="color:#828282;"> Enter your current password to change email or
                                         password.</p>-->
                                    <div class="form-group">
                                        <label for="email">* Email Adress</label> <input
                                            type="text" class="form-control" id="email" name="email"
                                            th:value="${user.email}"/>
                                    </div>
                                    <p style="color:#828282;">You can't change your email yet.</p>

                                    <div class="form-group">
                                        <label for="txtNewPassword">Password</label>&nbsp;<span
                                            id="checkPasswordMatch" style="color: red;"></span> <input
                                            type="password" class="form-control" id="txtNewPassword"
                                            name="newPassword"/>
                                    </div>

                                    <div class="form-group">
                                        <label for="txtConfirmPassword">Confirm Password</label> ' <input
                                            type="password" class="form-control" id="txtConfirmPassword"/>
                                    </div>
                                    <p style="color:#828282"> To change current password enter the new in both
                                        fields</p>


                                    <button id="updateUserInfoButton" type="submit" class="btn btn-primary">Save All
                                    </button>
                                </form>

                                <div class="form-group">
                                    <label>
                                        <input hidden="hidden" name="id" th:value="${user.id}"/>
                                    </label>
                                    <button th:id="'thisUser-'+${user.id}" class="btn btn-danger btn-xs delete-user"
                                            type="submit" value="delete">
                                        <span class="fa fa-times"></span> Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>
